---

import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
// 1. Generate a new path for every collection post
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(post => ({
    params: { slug: post.slug }, props: { post },
  }));
}
// 2. When it's time to render, you can get the post directly from the prop
const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.title}
>
<div class="flex justify-between 
  items-center
  max-w-3xl
  mx-auto
  px-4
  py-8
  space-x-4
  w-full
">
  <div
    class="
      text-sm
      text-gray-500
      font-medium
      uppercase
      tracking-wider
     
    "
  >
    <a href="/blog/Blog" class="hover:text-rose-500">← Back to Blog</a>
  </div>
  <h1 class="text-3xl font-bold text-gray-800">{post.title}</h1>
  
</div>

  <Content/>
  <div
    class="
      max-w-3xl
      mx-auto
      px-4
      py-8
      w-full
    "
  ></div>
</Layout>



