---

import Layout from '../layouts/Layout.astro';


import { Icon } from 'astro-icon';
import { Image, Picture } from '@astrojs/image/components';
import About from '../components/About.astro'
import Features from '../components/Features.astro'
import Blog from '../pages/blog/Blog.astro'
import Header from '../components/Header.astro';
import Stats from '../components/Stats.astro';
---

<Layout title="home">
<div class="relative">
  <Header/>
 
  <Icon name="fahad" class="w-full hidden md:flex" />

  <div class="md:absolute md:inset-32 px-5 flex flex-col items-center justify-cente ">
    <h1 class="md:text-5xl font-bold text-2xl italic text-green-500">Green Living Guide</h1>
    <h1 class="md:text-xl text-lg text-center mt-4 italic font-semibold">A blog committed to sustainable living and tips for a greener lifestyle</h1>

    <h2 class="md:text-xl text-lg italic mb-7 text-center font-black">Join us on this journey towards a greener future!</h2>
    <a href="/blog/Blog" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Learn More</a>
  </div>
</div>



<About/>
<Blog/>
<Features/>
<Stats



        



</Layout>




