---
import { Image, Picture } from '@astrojs/image/components';
import about from '../icons/About.png';
---


    <div class="container mx-auto px-4 mt-16">

  <div class="flex flex-col md:flex-row items-center justify-center -mb-32">
    <div class="w-full md:w-1/2">
      <Image 
        src={about} 
        alt="about"
        width={1000}
        height={1000}
      />
    </div>
    <div class="w-full md:w-1/2">
      <h3 class="text-4xl font-semibold mb-4 text-[#00bf63]">Green Living Guide</h3>
      <p class="text-xl italic">Green Living Guide is your go-to resource for all things sustainable living. We are committed to providing valuable information, tips, and resources to help you embrace a greener lifestyle.</p>
      <p class="text-xl italic">Our mission is to promote environmentally friendly practices, raise awareness about the importance of sustainability, and inspire individuals to make conscious choices that contribute to a healthier planet.</p>
    </div>
  </div>
</div>