---
import { Icon } from 'astro-icon';
---

<div
    class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
>
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
       
        <h2
            class="max-w-lg mb-6 text-center text-3xl font-bold leading-none tracking-tight text-green-900 sm:text-4xl md:mx-auto"
        >
            <span class="relative inline-block">
            <Icon
                class="absolute md:-top-6 animate-pulse md:-left-7 md:w-44 md:h-44 h-32 w-32 -top-2 -left-3 -ml-8 -mt-8 text-teal-accent-400"
                name="add"
            />
                <span class="relative">Green</span>
            </span>
            Living Guide
        </h2>
        <p class="text-base text-green-700 md:text-lg">
            Green Living Guide is about promoting eco-friendly lifestyle choices
            and sustainable practices.
        </p>
    </div>
    <div
        class="grid max-w-screen-lg mx-auto space-y-6 lg:grid-cols-2 lg:space-y-0 lg:divide-x"
    >
        <div class="space-y-6 sm:px-16">
            <div class="flex flex-col max-w-md sm:flex-row">
                <div class="mb-4 mr-4">
                    <div
                        class="flex items-center justify-center w-12 h-12 rounded-full bg-green-50"
                    >
                        <Icon
                            class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10"
                            name="Features"/>
                   
                    </div>
                </div>
                <div>
                  <h6 class="mb-3 text-xl text-green-500 font-bold leading-5">
                        Green Living Tips
                    </h6>
                    <p class="text-sm text-green-900">
                        Learn practical tips and advice for living a greener and
                        more sustainable lifestyle.
                    </p>
                </div>
            </div>
            <div class="flex flex-col max-w-md sm:flex-row">
                <div class="mb-4 mr-4">
                    <div
                        class="flex items-center justify-center w-12 h-12 rounded-full bg-green-50"
                    >
                  <Icon
                            class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10"
                            name="Features"/>
                    </div>
                </div>
                <div>
                  <h6 class="mb-3 text-xl text-green-500 font-bold leading-5">
                        Sustainable Products
                    </h6>
                    <p class="text-sm text-green-900">
                        Discover eco-friendly products that are good for you and
                        the planet.
                    </p>
                </div>
            </div>
            <div class="flex flex-col max-w-md sm:flex-row">
                <div class="mb-4 mr-4">
                    <div
                        class="flex items-center justify-center w-12 h-12 rounded-full bg-green-50"
                    >
                     <Icon
                            class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10"
                            name="Features"/>
                    </div>
                </div>
                <div>
                  <h6 class="mb-3 text-xl text-green-500 font-bold leading-5">
                        Green Living Communities
                    </h6>
                    <p class="text-sm text-green-900">
                        Connect with like-minded individuals and join green
                        living communities near you.
                    </p>
                </div>
            </div>
        </div>
        <div class="space-y-6 sm:px-16">
            <div class="flex flex-col max-w-md sm:flex-row">
                <div class="mb-4 mr-4">
                    <div
                        class="flex items-center justify-center w-12 h-12 rounded-full bg-green-50"
                    >
                    <Icon
                            class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10"
                            name="Features"/>
                    </div>
                </div>
                <div>
                   <h6 class="mb-3 text-xl text-green-500 font-bold leading-5">
                        Green Living Events
                    </h6>
                    <p class="text-sm text-green-900">
                        Stay updated on upcoming green living events and
                        workshops in your area.
                    </p>
                </div>
            </div>
            <div class="flex flex-col max-w-md sm:flex-row">
                <div class="mb-4 mr-4">
                    <div
                        class="flex items-center justify-center w-12 h-12 rounded-full bg-green-50"
                    >
                     <Icon
                            class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10"
                            name="Features"/>
                    </div>
                </div>
                <div>
                    <h6 class="mb-3 text-xl text-green-500 font-bold leading-5">
                        Tips for Sustainable Living
                    </h6>
                    <p class="text-sm text-green-900">
                        Explore practical tips and ideas for incorporating
                        sustainable practices into your daily life.
                    </p>
                </div>
            </div>
            <div class="flex flex-col max-w-md sm:flex-row">
                <div class="mb-4 mr-4">
                    <div
                        class="flex items-center justify-center w-12 h-12 rounded-full bg-green-50"
                    >
                      <Icon
                            class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10 bgg"
                            name="Features"/>
                    </div>
                </div>
                <div>
                    <h6 class="mb-3 text-xl text-green-500 font-bold leading-5">
                        Green Living Blog
                    </h6>
                    <p class="text-sm text-green-900">
                        Read articles and blog posts on various green living
                        topics and learn more about sustainability.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
