---
import { Icon } from "astro-icon";

---

<header class="text-gray-600 body-font">
    <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
    >
        <a
            class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
            <Icon
                name="logo"
                class="w-12 h-12 text-white p-2 bg-black rounded-full"
            />

            <span class="ml-3 text-xl">Living Guide</span>
        </a>
        <nav
            class="md:ml-auto flex flex-wrap items-center text-base justify-center"
        >
            <a
                href="/"
                class="mr-5 font-semibold italic hover:cursor-pointer hover:text-green-500"
                >Home</a
            >
            <a
                href="/blog/Blog"
                class="mr-5 font-semibold italic hover:cursor-pointer hover:text-green-500"
            >
                Blog
            </a>

            <a
                href="/Contact"
                class="mr-5 font-semibold italic hover:cursor-pointer hover:text-green-500"
            >
                Contact
            </a>
        </nav>
    </div>
</header>
